*.o
bin/*.brogue*
bin/BrogueHighScores.txt
bin/brogue*
bin/*.png
vars

# Release dirs and archives
BrogueCE-*
*.zip

.vscode
.gdb_history

*.su
*.gcda
*.gcno
*.gcov
*.desktop
gmon.out

# Xcode
Brogue.app/
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Pods/
/Podfile.lock
*.ipa
*.dSYM.zip
*.mobileprovision
*~