[submodule "android/SDL2"]
	path = android/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "android/SDL2_image"]
	path = android/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
