build/
!build-scripts/
buildbot/
deps/
dist/

*.so
*.so.*
*.dll
*.exe
*.o
*.obj
*.res
*.lib
*.a
*.la
*.dSYM
*,e1f
*,ff8
*.lnk
*.err
*.exp
*.map
*.orig
*~
*.swp
*.tmp
*.rej
showanim
showimage

# for Autotools
autom4te*
config.cache
config.log
config.status
configure~
Makefile
libtool
.deps
.dirstamp
.libs
*.lo
*.o
*.la
*.lai
SDL2_image.pc
SDL2_image.spec
sdl2_image-config.cmake
sdl2_image-config-version.cmake

# for CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
SDL2_imageConfig.cmake
SDL2_imageConfigVersion.cmake
.ninja_*
*.ninja

# for CLion
.idea
cmake-build-*

# for Xcode
*.mode1*
*.perspective*
*.pbxuser
(^|/)build($|/)
.DS_Store
xcuserdata
*.xcworkspace
Xcode/build.xcconfig

# for Visual C++
.vs
Debug
Release
out/
*.user
*.ncb
*.suo
*.sdf
