<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Brogue</string>
    <key>CFBundleDisplayName</key>
    <string>Brogue</string>
    <key>CFBundleVersion</key>
    <string>1.8</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>brogue</string>
    <key>CFBundleIconFile</key>
    <string>Brogue.icns</string>
</dict>
</plist>
