name: "Build"
on:
  push:
    # Only run on branches
    branches:
    - '**'

jobs:

  macos-intel:
    runs-on: macos-13
    steps:
    - name: "Checkout sources"
      uses: actions/checkout@v3

    - name: "Prepare"
      run: |
        make macos/sdl2.rb

    - name: "Cache SDL2"
      uses: actions/cache@v3
      with:
        path: sdl2-cellar
        key: sdl2-macos-x86_64-${{hashFiles('macos/sdl2.rb')}}

    - name: "Compile and install dependencies"
      run: |
        if [ -d sdl2-cellar ]; then
          cp -r sdl2-cellar $(brew --cellar)/sdl2
          brew link sdl2
        else
          tap_dir="$(brew --repository local/BrogueCE)"
          mkdir -p "$tap_dir/Formula"
          cp macos/sdl2.rb "$tap_dir/Formula"
          brew install --build-from-source local/BrogueCE/sdl2
          cp -r $(brew --cellar)/sdl2 sdl2-cellar
        fi
        brew install sdl2_image dylibbundler

    - name: "Compile"
      run: |
        make MAC_APP=YES Brogue.app
      env:
        MACOSX_DEPLOYMENT_TARGET: "10.7"

    - name: "Fix and bundle dylib references"
      run: |
        cd Brogue.app/Contents && dylibbundler -cd -b -x MacOS/brogue

    - name: "Create artifact"
      run: |
        make BrogueCE-macos
        zip -rll BrogueCE-macos-x86_64.zip BrogueCE-macos

    - name: "Upload artifact"
      uses: actions/upload-artifact@v4
      with:
        name: macos-x86_64
        path: BrogueCE-macos-x86_64.zip
        compression-level: 0  # There's no point compressing something already compressed
